@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/bebasneuebold.woff2") format("woff2"), url("../fonts/bebasneuebold.woff") format("woff"), url("bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  background: #fbfbfb;
  color: #313131;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
video {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 58px;
  line-height: 130%;
  color: #313131;
}
.title._white {
  color: #fbfbfb;
}

.btn {
  max-width: 320px;
  width: 100%;
  padding: 18px 0;
  background: #5a2fe1;
  border-radius: 16px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  font-size: 18px;
  color: #fbfbfb;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.btn:hover {
  background: #4d20dd;
}

.logo {
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  text-align: center;
  text-transform: uppercase;
  color: #fbfbfb;
}

.burger {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.burger::before, .burger::after,
.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #fbfbfb;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.burger span {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.burger::before, .burger::after {
  content: "";
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger._active span {
  opacity: 0;
}
.burger._active::before {
  -webkit-transform: rotate(-45deg) translateX(-50%);
      -ms-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}
.burger._active::after {
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 45px;
  }
  .btn {
    font-size: 16px;
  }
}
.container {
  max-width: 1448px;
  padding: 0 24px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 948px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    max-width: 500px;
    padding: 0 16px;
  }
}
.scroll {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s ease-in 0.2s, overflow-y 0s ease 0.3s, -webkit-transform 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s, overflow-y 0s ease 0.3s, -webkit-transform 0.3s ease-in 0.2s;
  -o-transition: all 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s, overflow-y 0s ease 0.3s;
  transition: all 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s, overflow-y 0s ease 0.3s;
  transition: all 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s, overflow-y 0s ease 0.3s, -webkit-transform 0.3s ease-in 0.2s;
}
.scroll__bg {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 122px, 0) scale3d(0.9, 0.9, 1);
          transform: translate3d(-50%, 122px, 0) scale3d(0.9, 0.9, 1);
  max-height: calc(100vh - 150px);
  max-width: 1842px;
  width: 100%;
  border-radius: 42px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(0, 0, 0))), lightgray 0.778px 0px/113.58% 100% no-repeat;
  background: -o-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%), lightgray 0.778px 0px/113.58% 100% no-repeat;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%), lightgray 0.778px 0px/113.58% 100% no-repeat;
  -webkit-box-shadow: 0 0 8px 2px #313131;
          box-shadow: 0 0 8px 2px #313131;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

body.menu_active {
  overflow: hidden;
}
body.menu_active .general {
  padding: 0;
  -webkit-transition: padding 0.3s ease 0.1s;
  -o-transition: padding 0.3s ease 0.1s;
  transition: padding 0.3s ease 0.1s;
}
body.menu_active .scroll {
  max-width: 1842px;
  width: 100%;
  -webkit-transform: translate3d(-50%, 122px, 0) scale3d(0.9, 0.9, 1);
          transform: translate3d(-50%, 122px, 0) scale3d(0.9, 0.9, 1);
  max-height: calc(100vh - 150px);
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 42px;
  -webkit-transition: max-height 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: max-height 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out, transform 0.3s ease-out;
  transition: max-height 0.3s ease-out, transform 0.3s ease-out;
  transition: max-height 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
body.menu_active .scroll__bg {
  pointer-events: all;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-out 0.2s;
  -o-transition: opacity 0.2s ease-out 0.2s;
  transition: opacity 0.2s ease-out 0.2s;
}
body.menu_active .header {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

@media only screen and (max-width: 1200px) {
  .scroll__bg {
    border-radius: 25px;
  }
  body.menu_active .scroll {
    border-radius: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .scroll__bg {
    -webkit-transform: translate3d(-50%, 150px, 0) scale3d(0.95, 0.95, 1);
            transform: translate3d(-50%, 150px, 0) scale3d(0.95, 0.95, 1);
    max-height: calc(100vh - 170px);
  }
  body.menu_active .scroll {
    -webkit-transform: translate3d(-50%, 150px, 0) scale3d(0.95, 0.95, 1);
            transform: translate3d(-50%, 150px, 0) scale3d(0.95, 0.95, 1);
    max-height: calc(100vh - 170px);
  }
}
@media only screen and (max-width: 700px) {
  .scroll__bg {
    -webkit-transform: translate3d(-50%, 180px, 0) scale3d(0.95, 0.95, 1);
            transform: translate3d(-50%, 180px, 0) scale3d(0.95, 0.95, 1);
    max-height: calc(100vh - 200px);
  }
  body.menu_active .scroll {
    -webkit-transform: translate3d(-50%, 180px, 0) scale3d(0.95, 0.95, 1);
            transform: translate3d(-50%, 180px, 0) scale3d(0.95, 0.95, 1);
    max-height: calc(100vh - 200px);
  }
}
.header {
  width: 100%;
  height: 122px;
  position: fixed;
  background: #fbfbfb;
  z-index: 2;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1);
  -o-transition: transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1);
}
.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.header__logo {
  cursor: pointer;
  font-size: 30px;
  color: #313131;
}
.header__menu {
  margin: 0 5% 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__button {
  cursor: pointer;
  border-radius: 100px;
  background: #5a2fe1;
  padding: 12px 30px 11px 30px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.header__button:hover {
  background: rgba(89, 47, 225, 0.8352941176);
}
.header__close {
  cursor: pointer;
  position: relative;
  height: 32px;
  width: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}
.header__close::after, .header__close::before {
  content: "";
  position: absolute;
  width: 121%;
  height: 2px;
  left: 50%;
  top: 50%;
  background: #313131;
}
.header__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 60px;
}
.menu__item {
  cursor: pointer;
  color: #313131;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}
.menu__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
  background: #313131;
  max-width: 0;
  -webkit-transition: max-width 0.2s ease;
  -o-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
}
.menu__item:hover::before {
  max-width: 100%;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header-wrapper {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 40px;
  width: 100%;
}
.site-header__logo--img {
  cursor: pointer;
  display: none;
}
.site-header._fixed {
  -webkit-animation: site_header_animation 0.4s ease;
          animation: site_header_animation 0.4s ease;
}
.site-header._fixed .site-header__logo {
  display: none;
}
.site-header._fixed .site-header__logo--img {
  display: block;
}
.site-header._fixed .burger::before, .site-header._fixed .burger::after,
.site-header._fixed .burger span {
  background-color: #313131;
}
.site-header._fixed > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #ececec;
}
.site-header._fixed > div:first-child {
  padding: 12px;
}
.site-header._fixed > div:last-child {
  padding: 16px 14px;
}

@-webkit-keyframes site_header_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes site_header_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    height: 150px;
  }
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 30px;
  }
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 0 0;
  }
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    height: 180px;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: grid;
    gap: 20px;
    grid-template: repeat(3, -webkit-min-content)/1fr -webkit-min-content;
    grid-template: repeat(3, min-content)/1fr min-content;
  }
  .header__logo {
    justify-self: start;
  }
  .header__close {
    justify-self: end;
  }
  .header__menu {
    grid-column: span 2;
  }
  .header__button {
    grid-column: span 2;
    justify-self: center;
  }
}
@media only screen and (max-width: 458px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .menu__item {
    font-size: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .header__button {
    font-size: 14px;
  }
  .menu__item {
    font-size: 16px;
  }
}
.general {
  padding: 40px 40px 0 40px;
  -webkit-transition: padding 0.3s ease 0.2s;
  -o-transition: padding 0.3s ease 0.2s;
  transition: padding 0.3s ease 0.2s;
}
.general__container {
  max-width: 1840px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 42px;
}
.general__content {
  position: relative;
  z-index: 1;
  padding: 40px;
  background: -o-linear-gradient(344.64deg, #313131 -2.93%, #202020 97.34%);
  background: linear-gradient(105.36deg, #313131 -2.93%, #202020 97.34%);
  -webkit-box-shadow: 10px 0px 15px rgba(255, 255, 255, 0.1);
          box-shadow: 10px 0px 15px rgba(255, 255, 255, 0.1);
  border-radius: 42px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 min(38%, 400px);
          flex: 0 0 min(38%, 400px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.general__head {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}
.general__text {
  margin: 50px 0 0 0;
}
.general__title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 136px;
  line-height: 95%;
  color: #fbfbfb;
}
.general__info {
  line-height: 130%;
  color: #f4f4f4;
  margin: 20px 0 0 0;
  max-width: 300px;
}
.general__button {
  margin: 50px 0 0 0;
  padding: 40px 20px;
  background: #fbfbfb;
  background-size: 200% 200%;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  color: #5a2fe1;
  position: relative;
  overflow: hidden;
}
.general__button span {
  position: absolute;
  width: 120%;
  height: 120%;
  background: rgba(89, 47, 225, 0.1176470588);
  top: 0;
  left: 0;
  -webkit-transform: translate(150%, -80%);
      -ms-transform: translate(150%, -80%);
          transform: translate(150%, -80%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 21px;
}
.general__button:hover span {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.general__image {
  margin-left: -110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}
.general__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 42px;
}

@media only screen and (max-width: 1500px) {
  .general__title {
    font-size: 120px;
  }
}
@media only screen and (max-width: 1350px) {
  .general__title {
    font-size: 106px;
  }
}
@media only screen and (max-width: 1200px) {
  .general__title {
    font-size: 96px;
    line-height: 100%;
  }
  .general__content {
    padding: 24px;
  }
  .general__button {
    margin: 50px 0 0 0;
    padding: 17px 15px;
    font-size: 16px;
  }
  .general__image {
    margin-left: -200px;
  }
}
@media only screen and (max-width: 1000px) {
  .general__title {
    font-size: 86px;
  }
}
@media only screen and (max-width: 900px) {
  .general {
    padding: 24px 24px 0 24px;
  }
  .general__content {
    border-radius: 25px;
  }
  .general__title {
    font-size: 10vw;
  }
  .general__info {
    font-size: 16px;
    margin: 14px 0 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .general__title {
    font-size: 58px;
  }
}
@media only screen and (max-width: 700px) {
  .general {
    padding: 16px 16px 0 16px;
  }
}
@media only screen and (max-width: 600px) {
  .general__container {
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general__button, .general__text {
    margin: 35px 0 0 0;
  }
  .general__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 290px;
            flex: 0 0 290px;
    margin: -55px 0 0 0;
  }
}
.reasons {
  margin: 200px 0 0 0;
}
.reasons__title {
  text-align: center;
}
.reasons__list {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reasons__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  border: 1px solid #e0e0e0;
  margin-left: -1px;
  margin-bottom: -1px;
}
.reasons__item:nth-child(1), .reasons__item:nth-child(2), .reasons__item:nth-child(3) {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.reasons__item:nth-child(4), .reasons__item:nth-child(5), .reasons__item:nth-child(6) {
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.reasons__item:nth-child(3) {
  border-right: 0;
  border-bottom: 0;
}
.reasons__item:nth-child(4) {
  border-top: 0;
  border-left: 0;
}

.reason-item {
  padding: 35px;
  border-radius: 16px;
}
.reason-item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}
.reason-item__info {
  margin: 6px 0 0 0;
  line-height: 130%;
  color: #747474;
}

@media only screen and (max-width: 1290px) {
  .reason-item {
    padding: 24px;
  }
}
@media only screen and (max-width: 1200px) {
  .reasons {
    margin: 120px 0 0 0;
  }
  .reasons__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .reasons__item:nth-child(1), .reasons__item:nth-child(2), .reasons__item:nth-child(3), .reasons__item:nth-child(4), .reasons__item:nth-child(5), .reasons__item:nth-child(6) {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
  }
  .reasons__item:nth-child(1), .reasons__item:nth-child(2) {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .reasons__item:nth-child(5), .reasons__item:nth-child(6) {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .reasons__item:nth-child(2) {
    border-right: 0;
    border-bottom: 0;
  }
  .reasons__item:nth-child(5) {
    border-left: 0;
    border-top: 0;
  }
}
@media only screen and (max-width: 900px) {
  .reason-item__title {
    font-size: 22px;
  }
  .reason-item__info {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media only screen and (max-width: 750px) {
  .reason-item__title {
    font-size: 20px;
  }
  .reason-item__info {
    max-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .reasons {
    margin: 104px 0 0 0;
  }
  .reasons__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .reasons__item:nth-child(1), .reasons__item:nth-child(2), .reasons__item:nth-child(3), .reasons__item:nth-child(4), .reasons__item:nth-child(5), .reasons__item:nth-child(6) {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
  }
}
.services {
  margin: 160px 0 0 0;
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
}
.services__text {
  margin: 8px 0 0 0;
  line-height: 130%;
  color: #747474;
}
.services__button {
  margin: 40px 0 0 0;
}
.services__information {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 900px;
          flex: 0 1 900px;
  border-top: 1px solid #e0e0e0;
}
.services__item {
  border-bottom: 1px solid #e0e0e0;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding: 25px 0;
}
.service-item__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #313131;
}
.service-item__value {
  font-size: 16px;
  line-height: 130%;
  color: #747474;
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  .services {
    margin: 120px 0 0 0;
  }
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 32px;
  }
  .services__content {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .services__information {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .services__text {
    max-width: 482px;
    margin: 8px auto 0 auto;
  }
  .services__button {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 0 0 0;
  }
}
@media only screen and (max-width: 900px) {
  .services__text {
    margin: 6px 0 0 0;
    font-size: 16px;
    line-height: 1.25;
  }
  .service-item__name {
    font-size: 22px;
  }
}
@media only screen and (max-width: 700px) {
  .service-item__name {
    font-size: 20px;
  }
}
.about {
  margin: 180px 0 0 0;
}
.about__wrapper {
  padding: 80px;
  background: url(../img/background.png) no-repeat 0 0/cover, -o-linear-gradient(356.47deg, #5a2fe1 3.76%, #6450eb 53.85%, #5a2fe1 95.74%);
  background: url(../img/background.png) no-repeat 0 0/cover, linear-gradient(93.53deg, #5a2fe1 3.76%, #6450eb 53.85%, #5a2fe1 95.74%);
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}
.about__information {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  font-size: 18px;
  line-height: 130%;
  color: #fbfbfb;
}
.about__text p {
  margin: 0 0 10px 0;
}
.about__text._large {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 612px;
          flex: 0 1 612px;
  font-size: 24px;
  line-height: 130%;
}

@media only screen and (max-width: 1024px) {
  .about__information {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .about__text._large {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .about {
    margin: 120px 0 0 0;
  }
  .about__wrapper {
    padding: 40px;
  }
  .about__information {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    gap: 24px;
  }
  .about__text._large {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media only screen and (max-width: 900px) {
  .about__information {
    margin: 8px 0 0 0;
  }
  .about__text {
    font-size: 16px;
  }
  .about__text._large {
    font-size: 22px;
  }
}
@media only screen and (max-width: 700px) {
  .about__wrapper {
    padding: 24px;
  }
  .about__information {
    margin: 2px 0 0 0;
    gap: 2px;
  }
  .about__text._large {
    font-size: 20px;
  }
}
.fields {
  margin: 180px 0 0 0;
}
.fields__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.fields__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 390px;
          flex: 0 1 390px;
}
.fields__text {
  font-size: 18px;
  line-height: 130%;
  color: #747474;
  margin: 16px 0 0 0;
  max-width: 310px;
}
.fields__button {
  margin: 40px 0 0 0;
}
.fields__swiper-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 910px;
          flex: 0 1 910px;
}
.fields__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.field-item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.field-item__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  height: 2.6em;
  width: 150px;
  text-align: center;
}
.field-item:nth-child(2) .field-item__name {
  width: 170px;
}
.field-item__front, .field-item__back {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 30px 20px 20px 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.field-item__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}
.field-item__front {
  -webkit-transform: perspective(600px) rotateY(0);
          transform: perspective(600px) rotateY(0);
}
.field-item:hover .field-item__front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}
.field-item:hover .field-item__back {
  -webkit-transform: perspective(600px) rotateY(0);
          transform: perspective(600px) rotateY(0);
}

.swiper-pagination {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .fields {
    margin: 122px 0 0 0;
  }
  .fields__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .fields__content {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    text-align: center;
  }
  .fields__text {
    margin: 6px auto 0 auto;
  }
  .fields__swiper-container {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .fields__button {
    margin: 0 0 0 0;
  }
}
@media only screen and (max-width: 900px) {
  .fields__text {
    font-size: 16px;
    max-width: 280px;
  }
  .fields__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}
@media only screen and (max-width: 700px) {
  .fields {
    position: relative;
  }
  .fields__swiper-container {
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    margin: 0 0 20px 0;
  }
  .fields .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
    max-width: 230px;
  }
  .fields .swiper-pagination {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .fields .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 6px;
    background: #313131;
  }
}
.faq {
  margin: 180px 0 0 0;
}
.faq__title {
  text-align: center;
}
.faq__list {
  margin: 40px 0 0 0;
  border-top: 1px solid #e0e0e0;
}
.faq__item {
  border-bottom: 1px solid #e0e0e0;
}

.item-faq {
  padding: 25px 0;
}
.item-faq__question {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #313131;
}
.item-faq__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 0;
  -webkit-transition: padding 0.2s ease;
  -o-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
}
.item-faq__plus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.item-faq__plus::before, .item-faq__plus::after {
  content: "";
  position: absolute;
  background-color: #5a2fe1;
  border-radius: 15px;
}
.item-faq__plus::before {
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.item-faq__plus::after {
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.item-faq__answer {
  margin: 0 35px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #747474;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

.item-faq._active .item-faq__header {
  padding: 0 0 10px 0;
}
.item-faq._active .item-faq__plus {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 1200px) {
  .faq {
    margin: 120px 0 0 0;
  }
  .faq__list {
    margin: 20px 0 0 0;
  }
}
@media only screen and (max-width: 900px) {
  .item-faq__question {
    font-size: 22px;
  }
  .item-faq__answer {
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .item-faq__question {
    font-size: 18px;
  }
}
.contact {
  margin: 180px 0 300px 0;
}
.contact__wrapper {
  padding: 80px;
  background: url(../img/background.png) no-repeat 0 0/cover, -o-linear-gradient(344.64deg, #313131 -2.93%, #202020 97.34%);
  background: url(../img/background.png) no-repeat 0 0/cover, linear-gradient(105.36deg, #313131 -2.93%, #202020 97.34%);
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.contact__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 330px;
          flex: 0 0 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__text {
  line-height: 130%;
  color: #bcbcbc;
  margin: 8px 0 0 0;
  max-width: 260px;
}
.contact__buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 35px;
}
.contact__button {
  cursor: pointer;
  font-size: 20px;
  line-height: 130%;
  color: #fbfbfb;
  position: relative;
}
.contact__button::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact__button._tg::before {
  background: #24a1de;
}
.contact__button._wa::before {
  background: #44ec62;
}
.contact__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
  background: #fbfbfb;
  max-width: 0;
  -webkit-transition: max-width 0.2s ease;
  -o-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
}
.contact__button:hover::after {
  max-width: 100%;
}
.contact__button:hover::before {
  width: 8px;
  height: 8px;
}
.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 660px;
          flex: 0 1 660px;
}
.contact__link {
  margin: 16px 0 0 22px;
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  color: #bcbcbc;
}
.contact__link a {
  cursor: pointer;
  color: #bcbcbc;
  position: relative;
}
.contact__link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #bcbcbc;
}
.contact__link a:hover::before {
  -webkit-animation: hover-anim 0.4s ease-in-out;
          animation: hover-anim 0.4s ease-in-out;
}

@-webkit-keyframes hover-anim {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes hover-anim {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
}
.form-contact__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 10px);
          flex: 0 1 calc(50% - 10px);
}
.form-contact__input input {
  width: 100%;
  padding: 18px 24px;
  background: #292929;
  border: 1px solid #bcbcbc;
  border-radius: 16px;
  font-size: 18px;
  line-height: 130%;
  color: #bcbcbc;
}
.form-contact__file {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 18px;
  line-height: 130%;
  color: #bcbcbc;
}
.form-contact__file input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.form-contact__file label {
  cursor: pointer;
}
.form-contact__textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 18px;
}
.form-contact__textarea textarea {
  padding: 18px 24px;
  width: 100%;
  max-height: 260px;
  overflow: hidden;
  resize: none;
  background: #292929;
  border: 1px solid #bcbcbc;
  border-radius: 16px;
  font-size: 18px;
  color: #bcbcbc;
}
.form-contact__button {
  margin: 22px 0 0 0;
}

@media only screen and (max-width: 1200px) {
  .contact {
    margin: 120px 0 300px 0;
  }
  .contact__wrapper {
    padding: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 34px;
  }
  .contact__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .contact__buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 10px;
  }
  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .form-contact__button {
    margin: 12px 0 0 0;
  }
}
@media only screen and (max-width: 900px) {
  .contact__text {
    font-size: 16px;
    max-width: 250px;
    line-height: 1.25;
    margin: 6px 0 0 0;
  }
  .contact__link {
    margin-top: 14px;
  }
  .form-contact {
    gap: 14px;
  }
  .form-contact__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
  }
  .form-contact__input input, .form-contact__file, .form-contact__textarea textarea {
    font-size: 16px;
  }
}
@media only screen and (max-width: 900px) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 22px;
  }
  .contact__wrapper {
    padding: 24px;
  }
  .contact__text {
    margin: 2px 0 0 0;
  }
  .contact__link {
    margin: 8px 0 0 0;
    text-align: center;
  }
  .contact__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .contact__button {
    font-size: 18px;
  }
  .form-contact__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .form-contact__button {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}