.header {
	width: 100%;
	height: 122px;

	position: fixed;
	background: $white;
	z-index: 2;
	transform: translateY(-100%);
	transition: transform 0.4s cubic-bezier(0.69, 0.09, 0.44, 1);

	// .header__container
	&__container {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 60px;
	}

	// .header__logo
	&__logo {
		cursor: pointer;

		font-size: 30px;
		color: $black;
	}

	// .header__menu
	&__menu {
		margin: 0 5% 0 0;
		flex: 1 1 auto;
	}

	// .header__button
	&__button {
		cursor: pointer;

		border-radius: 100px;
		background: #5a2fe1;
		padding: 12px 30px 11px 30px;

		color: $white;
		font-size: 16px;
		font-weight: 500;
		line-height: 130%;

		transition: background 0.3s ease;
		&:hover {
			background: #592fe1d5;
		}
	}

	// .header__close
	&__close {
		cursor: pointer;
		position: relative;
		height: 32px;
		width: 32px;
		flex: 0 0 32px;

		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 121%;
			height: 2px;
			left: 50%;
			top: 50%;
			background: $black;
		}
		&::after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 60px;

	// .menu__item
	&__item {
		cursor: pointer;
		color: $black;
		font-size: 24px;
		font-weight: 500;
		line-height: 130%;

		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;

			left: 50%;
			transform: translate(-50%);
			bottom: 0;

			background: $black;

			max-width: 0;
			transition: max-width 0.2s ease;
		}

		&:hover::before {
			max-width: 100%;
		}
	}
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-wrapper {
		position: sticky;
		z-index: 3;
		top: 40px;

		width: 100%;
	}

	&__logo--img {
		cursor: pointer;
		display: none;
	}

	&._fixed {
		animation: site_header_animation 0.6s ease;

		.site-header__logo {
			display: none;
		}
		.site-header__logo--img {
			display: block;
		}

		.burger {
			&::before,
			&::after,
			span {
				background-color: $black;
			}
		}

		& > div {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			background: #ececec;
			&:first-child {
				padding: 12px;
			}
			&:last-child {
				padding: 16px 14px;
			}
		}
	}
}

@keyframes site_header_animation {
	0% {
		width: 200px;
		transform: translate3d(-50%, -200%, 0);
	}
	100% {
		width: 100%;
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: $first-breakpoint) {
	.header {
		height: 150px;

		&__container {
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: center;
			gap: 30px;
		}
		&__menu {
			flex: 0 0 100%;
			margin: 0 0 0 0;
		}
	}

	.menu {
		justify-content: space-between;
		gap: 40px;
	}
}

@media only screen and (max-width: $third-breakpoint) {
	.header {
		height: 230px;

		&__container {
			justify-content: space-between;
			display: grid;
			gap: 30px;
			grid-template: repeat(3, min-content) / 1fr min-content;
		}

		&__logo {
			justify-self: start;
		}

		&__close {
			justify-self: end;
		}

		&__menu {
			grid-column: span 2;
		}

		&__button {
			grid-column: span 2;
			justify-self: center;
		}
	}
}

@media only screen and (max-width: 458px) {
	.menu {
		justify-content: space-between;
		gap: 20px;

		&__item {
			font-size: 20px;
		}
	}
}

@media only screen and (max-width: 350px) {
	.header {
		&__container {
			gap: 20px;
		}
	}

	.header__button {
		font-size: 14px;
	}

	.menu {
		&__item {
			font-size: 16px;
		}
	}
}
