// breakpoints
$first-breakpoint: 1200px;
$second-breakpoint: 900px;
$third-breakpoint: 700px;

// colors
$white: #fbfbfb;
$black: #313131;
$dark-gray: #747474;
$gray: #e0e0e0;
$purple: #5a2fe1;

@import "nullStyle";
@import "ui-kit";

.container {
   max-width: 1448px;
   padding: 0 24px;
   margin: 0 auto;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 100%;
	transition: transform 0.4s ease-in-out;
}

body.menu_active {
   overflow: hidden;
   .main {
      transform: translate3d(0px, 122px, 0px) ;
   }
   .header {
      transform: translate(0);
   }
}

@media only screen and (max-width: $first-breakpoint) {
   .container {
      max-width: 948px;
   }
}
@media only screen and (max-width: $third-breakpoint) {
   .container {
      max-width: 500px;
      padding: 0 16px;
   }
}

@import "header";

@import "main/general";
@import "main/reasons";
@import "main/services";
@import "main/about";
@import "main/fields";
@import "main/faq";
@import "main/contact";
