.contact {
	margin: 180px 0 300px 0;

	// .contact__container
	&__container {
	}

	// .contact__wrapper
	&__wrapper {
		padding: 80px;
		background: url(../img/background.png) no-repeat 0 0 / cover,
			linear-gradient(105.36deg, $black -2.93%, #202020 97.34%);
		border: 1px solid $gray;
		border-radius: 16px;

		display: flex;
		gap: 90px;
	}

	// .contact__content
	&__content {
		flex: 0 0 330px;
		display: flex;
		flex-direction: column;
	}

	// .contact__title
	&__title {
	}

	// .contact__text
	&__text {
		line-height: 130%;
		color: #bcbcbc;
		margin: 8px 0 0 0;
		max-width: 260px;
	}

	// .contact__buttons
	&__buttons {
		flex: 1 1 auto;
		display: flex;
		align-items: flex-end;

		gap: 35px;
	}

	// .contact__button
	&__button {
		cursor: pointer;
		font-size: 20px;
		line-height: 130%;
		color: $white;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 4px;
			right: -10px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
		}
		&._tg::before {
			background: #24a1de;
		}
		&._wa::before {
			background: #44ec62;
		}
	}

	// .contact__form
	&__form {
		flex: 0 1 660px;
	}

	// .contact__link
	&__link {
		margin: 16px 0 0 22px;
		font-weight: 300;
		font-size: 10px;
		line-height: 130%;
		color: #bcbcbc;

		a {
			cursor: pointer;
			// text-decoration: underline;
			color: #bcbcbc;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 1px;

				background: #bcbcbc;
			}

			&:hover::before {
				animation: hover-anim 0.4s ease-in-out;
			}
		}
	}
}

@keyframes hover-anim {
	0% {
		width: 100%;
	}
	50% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.form-contact {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 18px;

	// .form-contact__input
	&__input {
		flex: 0 1 calc(50% - 10px);

		input {
			width: 100%;
			padding: 18px 24px;
			background: #292929;
			border: 1px solid #bcbcbc;
			border-radius: 16px;

			font-size: 18px;
			line-height: 130%;
			color: #bcbcbc;
		}
	}

	// .form-contact__file
	&__file {
		flex: 0 0 100%;
		font-size: 18px;
		line-height: 130%;
		color: #bcbcbc;
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			display: block;
			width: 0;
			height: 0;
		}
		label {
			cursor: pointer;
		}
	}

	// .form-contact__textarea
	&__textarea {
		flex: 0 0 100%;

		textarea {
			padding: 18px 24px;
			width: 100%;
			resize: vertical;

			background: #292929;
			border: 1px solid #bcbcbc;
			border-radius: 16px;

			font-size: 18px;
			line-height: 130%;
			color: #bcbcbc;
		}
	}

	// .form-contact__button
	&__button {
		margin: 22px 0 0 0;
	}
}

@media only screen and (max-width: $first-breakpoint) {
	.contact {
		margin: 120px 0 300px 0;
		&__wrapper {
			padding: 40px;
			flex-wrap: wrap;
			gap: 34px;
		}

		&__content {
			flex-direction: row;
			flex: 0 0 100%;
		}

		&__buttons {
			justify-content: flex-end;
			margin-right: 10px;
		}

		&__form {
			flex: 0 0 100%;
		}
	}

	.form-contact {
		&__button {
			margin: 12px 0 0 0;
		}
	}
}

@media only screen and (max-width: $second-breakpoint) {
	.contact {
		&__text {
			font-size: 16px;
			max-width: 250px;
			line-height: 1.25;
			margin: 6px 0 0 0;
		}

		&__link {
			margin-top: 14px;
		}
	}

	.form-contact {
		gap: 14px;

		&__input {
			flex: 0 0 calc(50% - 8px);
		}

		&__input input,
		&__file,
		&__textarea textarea {
			font-size: 16px;
		}
	}
}
